* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(229, 235, 239); */
    background-color: #000000;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    /* color: rgb(39, 107, 165); */
    color: #39AEA9;
}

form {
    width: 35rem;
    margin: auto;
    margin-top: 3rem;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30rem;
    border-radius: 10px;
}

.mainForm {
    margin-top: 3rem;
}

input {
    color: #0ff6eb;
    font-weight: 500;
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(164, 194, 214);
    font-size: 1.4rem;
    padding: 5px;
    width: 80%;
    margin: auto;
    background: none;
}

::placeholder {
    color: rgb(211, 222, 226);
}

.loginForm input.username, .loginForm input.email {
    margin-bottom: 50px;
}

.registerForm input.username,
.registerForm input[type=email] {
    margin-bottom: 30px;
}

.registerForm input {
    font-size: 1.4rem;
}

form button.submitBtn {
    width: 80%;
    margin-top: 30px;
    margin-left: 54px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: #39AEA9;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 600;
}

form button.submitBtn:hover {
    color: #39AEA9;
    background-color: #000000;
    cursor: pointer;
    border: #fff;
}

.loginForm button.submitBtn {
    margin-top: 5rem;
}

.registerForm p {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.loginForm p {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

a {
    color: #e4e9eaea;
    margin-left: 10px;
}

input,
form,
.mainForm,
form h2,
p,
a {
    background-color: rgb(97, 126, 124);
}

.welcomePage h2 {
    text-align: center;
    margin-top: 2rem;
    color: #39AEA9;
}

@media screen and (max-width: 600px) {
    form {
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
    form {
        width: 20rem;
    }
}

span {
    position: absolute;
    top: 33%;
    right: 4rem;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    background-color: #39AEA9;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.registerForm span {
    top: 43%;
}

form {
    position: relative;
}

.mainForm a.loginMethod{
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 20px;
}

.loginMethod i{
    color: #2dc9c1;
    background-color: transparent;
    margin-right: 10px;
}